.container{
    margin: auto;
    /* border: 1px solid black; */
    text-align: right;
}
ul{
    list-style-type: none;
    display: inline-block;
     
}
i{
    margin-right: 10px;
    
    
}

li{
    display: inline;
    margin-right: 10px;
    color: rgba(0,0,0,0.87);
    font-family: arial,sans-serif;

    font-size: 13px;

}
.google{
    margin-top: 50px;
    /* border: 1px solid black; */
    height: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
input{
    
    width: 550px;
    height: 44px;
    /* border-radius: 10px; */
    outline: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    /* border:1px solid black; */
    padding-left: 10px;
    border: none;


}
.input{
    margin-top: 10px;
    border: 1px solid #dfe1e5;
    height: auto;
    width: 630px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    display: flex;
    
   
}
button{
    margin: 35px 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    height: 36px;
    width: 140px;
    cursor: pointer;
    text-align: center;
    border:1px solid #dfe1e5 ;
    outline: olive;
    border: none;
    font-family: arial, sans-serif;
    /* font-size: 15px; */
    color: rgb(95, 99, 104);
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
img{
    height: 95px;
    margin-bottom: 40px;
}
p{
    display: inline-block;
    font-size: 14px;
    margin: 3px;
}
.foot{
    color: blue;
}
a{
    
}